.frame {
  position: relative;
  display: inline-block;
  padding: 4px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    45deg,
    var(--color-1),
    var(--color-2),
    var(--color-3),
    var(--color-4),
    var(--color-5)
  );
  animation: frame-animation 0.1s ease-in-out infinite;
}

@keyframes frame-animation {
  0% {
    background: linear-gradient(
      45deg,
      var(--color-1),
      var(--color-2),
      var(--color-3),
      var(--color-4),
      var(--color-5)
    );
  }
  25% {
    background: linear-gradient(
      45deg,
      var(--color-2),
      var(--color-3),
      var(--color-4),
      var(--color-5),
      var(--color-1)
    );
  }
  50% {
    background: linear-gradient(
      45deg,
      var(--color-3),
      var(--color-4),
      var(--color-5),
      var(--color-1),
      var(--color-2)
    );
  }
  75% {
    background: linear-gradient(
      45deg,
      var(--color-4),
      var(--color-5),
      var(--color-1),
      var(--color-2),
      var(--color-3)
    );
  }
  100% {
    background: linear-gradient(
      45deg,
      var(--color-5),
      var(--color-1),
      var(--color-2),
      var(--color-3),
      var(--color-4)
    );
  }
}

.frame-video {
  position: relative;
  display: inline-block;
  padding: 4px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    45deg,
    #99ccff,
    #66b2ff,
    #ccffff,
    #33cccc,
    #0099cc
  );
  animation: frame-video-animation 0.1s ease-in-out infinite;
}

@keyframes frame-video-animation {
  0% {
    background: linear-gradient(
      45deg,
      #99ccff,
      #66b2ff,
      #cb0a71,
      #33cccc,
      #0099cc
    );
  }
  25% {
    background: linear-gradient(
      45deg,
      #66b2ff,
      #ccffff,
      #33cccc,
      #0099cc,
      #99ccff
    );
  }
  50% {
    background: linear-gradient(
      45deg,
      #ccffff,
      #33cccc,
      #0099cc,
      #99ccff,
      #66b2ff
    );
  }
  75% {
    background: linear-gradient(
      45deg,
      #33cccc,
      #0099cc,
      #99ccff,
      #66b2ff,
      #ccffff
    );
  }
  100% {
    background: linear-gradient(
      45deg,
      #0099cc,
      #99ccff,
      #66b2ff,
      #ccffff,
      #33cccc
    );
  }
}

.frame-video:before,
.frame-video:after {
  content: "";
  position: absolute;
  z-index: -1;
}

.frame-video:after {
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  border-radius: 20px;
}